.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 11%;
}

.container .card  {
    width: 29%;
    max-height: 450px;
    height: 450px;
    margin: 10px;
    cursor: pointer;
}

.container .card a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.container .card img {
    width: 100%;
    max-height: 400px;
    height: 100%;
    border-radius: 7px;
    vertical-align: text-bottom;
}

.container .card h1 {
    position: absolute;
    margin-top: 0px;
    width: 29%;
    max-height: 400px;
    height: 100%;
    border-radius: 7px;
    font-weight: bold;
    color: transparent;
}

.container .card:hover h1  {
    transition: 700ms;
    color: white;
    background: rgba(226, 226, 226, 0.075);
}


.container .card p {
    text-align: center;
    width: 99%;
    font-size: 16px;
    margin-top: -50px;
    color: transparent;
}

.container .card:hover p {
    transition: 700ms;
    color: white;
    background: rgba(226, 226, 226, 0.075);
}


.container .card button {
    border: none;
    text-decoration: none !important;
    width: 120px;
    height: 40px;
    margin: 20px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    background: #007aff;
    color: #ffffff;
}
.container .card button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 19px;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 4px 2px 18px 5px rgba(155, 155, 155, 0.616);
}
