.SearchBar {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    width: 220px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    height: 40px;
    border-color: none;
  }

  .buttonSearch {
    border: none;
    text-decoration: none !important;
    width: 120px;
    height: 40px;
    margin: 20px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    background: #007aff;
    color: #ffffff;
  }
  
  .buttonSearch:hover {
    border: none;
    text-decoration: none !important;
    background: #007bffde;
  }
  
  .buttonSearch:active {
    font-size: 15px;
  }
  